/* Dashboard.css */
.dashboard-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    color: #282c34;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #21a1f1;
  }
  